/*index styles*/
.banner {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
}
.slides {
    width: 100%;
    max-height: 500px;
}
.carousel>.slick-next {
    right: 100px;
    z-index: 1;
    font-size: 30px;
}
.carousel>.slick-prev {
    left: 100px;
    z-index: 1;
    font-size: 50px;
}
         /*info area*/
.captions {
    position: relative;
}
.info {
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 60%;
    z-index: 10;
    color: white;
    background-color: rgba(57, 157, 189, .7);
    border-radius: 25px;
    padding: 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em #399dbd, 0 0 0.2em #399dbd;
}
.slide-show-links {
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
}
.slide-show-text {
    font-size: 1.5em;
    padding: 8px;
}
.slogan {
    text-align: center;
    padding-bottom: 50px;
}
.hr-style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.welcome {
    text-align: center;
    padding-top: 40px;
}
.welcome-imgs {
    padding-top: 25px;
}
.welcome-message {
    font-size: 1.5em;
    padding: 25px 5% 50px 5%;
}
.message-links {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #399dbd, 0 0 0.2em #399dbd;
}
.venues-area {
    padding: 40px;
    background-image: url("../../images/dust_scratches.png");
}
.venue-header {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #399dbd;
    font-size: 2.7em;
}
.venue-message {
    font-size: .8em;
    text-align: center;
    margin: 0 50px;
}
.venue-contact-link {
    color: #399dbd;
}
.venue-grid {
    padding: 20px;
}
.venue-info {
    text-align: center;
    padding: 2%;
} 
.venue-name {
    color: #399dbd;
}
.about-us-area {
    padding: 50px;
}
.about-us-grid {
    padding-top: 25px;
    text-align: center;
}
.about-us-titles {
    padding-top: 10px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #399dbd, 0 0 0.2em #399dbd;
}
.fa-utensils {
    color: #b6b6b6;
}
.fa-plus {
    color: #eb1414;
    background-color: white;
    padding: 3px 10px;
}
.fa-star {
    color: #ffe976;
}