
body {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Old Standard TT', serif;
    overflow-x: hidden;
}
.headers {
    text-align: center;
    font-family: 'Lobster Two', cursive;
}
.nav-buffer {
    margin-top: 30px;
}

/*navbar*/
#logo {
    position: absolute;
    left: 3em;
    display: inline;
}
#small-logo {
    display: none;
    position: absolute;
    left: 2em;
}
.navbar {
    position: relative;
    z-index: 10;
    margin-top: 35px;
    background-color:  #e1e1e1;
    border:  #000000 solid 3px;
    border-radius: 25px
}
.nav-links-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-links-right {
    text-align: right;
}
.nav-link {
    color: #ffffff;
}
.nav-highlighter {
    background-color: #c0c0c0;
    border-radius: 10px;
}
/*footer styles*/
.footer {
    background-color: #e1e1e1;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    text-align: center;
}
.footer-nav-area {
    margin-top: 20px;
}
.footer-nav-item {
    color: #000;
    padding: 0 8px;
}
.footer-border-right {
    border-right: 1px solid #399dbd;
}
.footer-media-links {
    margin: 0 5px;
    color: #399dbd;
}
/*small screen styles*/
        /*phones*/
@media only screen and (max-width: 480px) {
    #logo {
        display: none;
    }
    a#small-logo {
        display: inline;
    }
    .slide-show-text {
        display: none;
    }
    a.slide-show-links {
        font-size: 1.5em;
    }
    div.info {
        bottom: 5px;
        padding: 0;
    }
}
@media only screen and (max-width: 575px) {
    .xs-img {
        display: none;
    }
    .no-margin {
        margin-top: -14px;
    }
    #phone-number {
        color: black;
    }
}
        /*tablets*/
@media only screen and (max-width: 768px) {
    .slide-show-text {
        display: none;
    }
    .sm-img {
        display: none;
    }
    .img-hider-sm {
        display: none;
    }
    div.hidden-pic {
        display: block;
        margin: 0 auto;
    }
    div.main-info-area {
        text-align: center;
    }
    .center-bullets {
        list-style-position: inside;
        margin-left: -45px;
    }
}
        /*medium screens*/
@media only screen and (min-width: 992px){
    a.nav-link {
        font-size: .81em;
    }
    .img-hider {
        display: none;
    }
}
        /*large desktops*/
@media only screen and (min-width: 1200px) {
    div.banner {
        height: 600px;
    }
    img.slides {
        max-height: 600px;
    }
    a.nav-link {
        font-size: 1em;
    }
        .img-hider-lg {
        display: none;
    }
}
        /*extra large screens        */
@media only screen  and (min-width : 1800px) {
    div.banner {
        height: 800px;
    }
    img.slides {
        max-height: 800px;
    }
    a.nav-link {
        font-size: 1em;
    }
}